/* =========================
// CSS RESET
// ====================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =========================
// GLOBAL STYLES
// ====================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	letter-spacing: .7px;
}

a:link,
a:visited {
	color: white;
	text-decoration: none;
	transition: ease-in-out .3s;
}

a:hover,
a:active {
	color: #F18909;
}

input {
	outline: none;
	border: none;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset !important;
}

button {
	background-color: #402318;
	color: white;
	border: none;
	border-radius: .17em;
	height: 3em;
}

h1,
h2 {
	font-family: 'Poppins-Bold', sans-serif;
	line-height: 1.3em;
}

h1 {
	color: white;
	font-size: 3em;
}

h2 {
	color: #ffb800;
	font-size: 1.75em;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-weight: 900
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 20px;
}

/* =========================
// TYPOGRAPHY
// ====================== */

/* TEXT FONTS */

@font-face {
	font-family: "Poppins";
	src: url("/Assets/Fonts/Poppins-Regular.WOFF") format("woff")
}

@font-face {
	font-family: "Poppins-Thin";
	src: url("/Assets/Fonts/Poppins-Thin.WOFF") format("woff")
}

@font-face {
	font-family: "Poppins-Bold";
	src: url("/Assets/Fonts/Poppins-Bold.WOFF") format("woff")
}

@font-face {
	font-family: "Poppins-Black";
	src: url("/Assets/Fonts/Poppins-Black.WOFF") format("woff")
}

/* ICON FONTS */

@font-face {
	font-family: 'icomoon';
	src: url('Assets/Icons/icomoon.eot?wpnb0e');
	src: url('Assets/Icons/icomoon.eot?wpnb0e#iefix') format('embedded-opentype'), url('Assets/Icons/icomoon.ttf?wpnb0e') format('truetype'), url('Assets/Icons/icomoon.woff?wpnb0e') format('woff'), url('Assets/Icons/icomoon.svg?wpnb0e#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-language:before {
	content: "\e900";
}

.icon-mentorship:before {
	content: "\e901";
}

.icon-online-chat:before {
	content: "\e902";
}

.icon-rewards:before {
	content: "\e903";
}

.icon-statistics:before {
	content: "\e904";
}

.icon-video:before {
	content: "\e905";
}
